body {
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: left;
}

h2 {
  font-weight: 300;
  font-size: 18pt;
}

h3 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 16pt;
}

li {
  font-weight: 300;
}

.bgimage1 {
  background-image: url("../images/whiteroom.jpg");
  min-height: 750px;
  /* Create the parallax scrolling effect */
}

.bgimage1, .bgimage2, .bgimage3, .bgimage4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bgimage2 {
  background-image: url("../images/ski.jpg");
  min-height: 400px;
}
.bgimage3 {
  background-image: url("../images/snowboard.jpg");
  min-height: 250px;
}

.bgimage4 {
  background-image: url("../images/mountains.jpg");
  min-height: 750px;
}


.opening-header {
  background-color: #000;
  color: #fff;
  padding: 18px;
  font-size: 25pt;
  letter-spacing: 2px;
  opacity: 0.50;
}

.comment {
    font-weight: 400;
    font-size: 18pt;
    text-align: center;
}

.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
}

.profile-pic{
  max-width: 150px;
  max-height: 150px;
}

.mediumTextBox {
  background-color: #ffffff;
  padding: 50px 90px 50px 90px;
  text-align: left;
}

.smallTextBox {
  background-color: #ffffff;
  padding: 50px 90px 50px 90px;
  text-align: center;
}

.carousel {
  max-width: 85%;
  margin: auto;
}

.carousel-item {
  max-height: 700px;
}
.grey{
  color:  #bdbdbd;
}
.teal{
  color:  #26c6da ;
}

@media only screen and (max-device-width: 1024px) {
    .bgimage1, .bgimage2, .bgimage3, .bgimage4 {
        background-attachment: scroll;
    }
    .comment {
      font-size: 14pt;
    }
    .opening-header {
      font-size: 16pt;
    }
    h2 {
      font-size: 16pt;
    }
    h3{
      font-size: 14pt;
    }
    .mediumTextBox {
      padding: 25px 40px 25px 40px;
    }
    .smallTextBox {
      background-color: #ffffff;
      padding: 15px 40px 15px 40px;
      text-align: center;
    }
    .carousel {
      max-width: 95%;
      max-height: 600px;
      margin: auto;
      padding-bottom: 15px;
    }
    #mobile{
      display: none;
    }
}
