body {
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: left;
}

h2 {
  font-weight: 300;
  font-size: 18pt;
}

h3 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 16pt;
}

.bgimage1 {
  background-image: url("../images/landRover2.jpg");
  min-height: 750px;
  /* Create the parallax scrolling effect */
}

.bgimage1, .bgimage2, .bgimage3, .bgimage4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bgimage2 {
  background-image: url("../images/beanie.jpg");
  min-height: 500px;
}
.bgimage3 {
  background-image: url("../images/snowboard.jpg");
  min-height: 250px;
}

.bgimage4 {
  background-image: url("../images/mountains.jpg");
  min-height: 1000px;
}


.logo {
  background-color: #000;
  color: #fff;
  padding: 18px;
  font-size: 25pt;
  letter-spacing: 2px;
  opacity: 0.50;
}

.comment {
    font-weight: 300;
    font-size: 18pt;
}

.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
}

.mediumTextBox {
  background-color: #CFD8DC;
  padding: 50px 90px 50px 90px;
  text-align: center;
}

.smallTextBox {
  background-color: #78909C;
  padding: 50px 90px 50px 90px;
  text-align: center;
}

@media only screen and (max-device-width: 1024px) {
    .bgimage1, .bgimage2, .bgimage3, .bgimage4 {
        background-attachment: scroll;
    }
    .comment {
      font-size: 14pt;
    }
    .logo{
      font-size: 20pt;
    }
    h2 {
      font-size: 16pt;
    }
    h3{
      font-size: 14pt;
    }
    .mediumTextBox {
      padding: 25px 40px 25px 40px; 
    }
}
