body {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
}

p {
  text-align: left;
}

h2 {
  font-weight: 400;
  font-size: 28pt;
  text-align: center;
}

h3 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 16pt;
}

li {
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

.navbar-brand {
  font-size: 18pt;
}

.bgimage1 {
  background-image: url("../images/whiteroom.jpg");
  min-height: 750px;
}

.bgimage1, .bgimage2, .bgimage3, .bgimage4 {
  /* Create the parallax scrolling effect */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimage2 {
  background-image: url("../images/ski.jpg");
  min-height: 500px;
}

.bgimage3 {
  background-image: url("../images/snowboard.jpg");
  min-height: 250px;
}

.bgimage4 {
  background-image: url("../images/mountains.jpg");
  min-height: 750px;
}

.opening-header {
  background-color: #000;
  color: #fff;
  padding: 18px;
  font-size: 32pt;
  letter-spacing: 2px;
  opacity: 0.60;
}

.comment {
  font-weight: 400;
  font-size: 18pt;
  text-align: center;
}

.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
}

.coffee:hover {
  color: #26c6da;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.mediumTextBox {
  background-color: #ffffff;
  margin: auto;
  max-width: 630px;
  padding: 50px 0 50px 0;
}

.smallTextBox {
  background-color: #ffffff;
  padding: 30px 90px 30px 90px;
  text-align: center;
}

.carousel {
  max-width: 85%;
  margin: auto;
}

.carousel-item {
  max-height: 700px;
}

.grey {
  color: #bdbdbd;
}

.teal {
  color: #26c6da;
}

@media screen and (max-width: 675px) {
  body {
    font-size: 14pt;
  }
  .navbar-brand {
    font-size: 12pt;
  }
  .bgimage1, .bgimage2, .bgimage3, .bgimage4 {
    background-attachment: scroll;
  }
  .bgimage2 {
    background-image: url("../images/ski.jpg");
    min-height: 400px;
  }
  .bgimage4 {
    background-image: url("../images/mountains.jpg");
    min-height: 550px;
  }
  .comment {
    font-size: 14pt;
  }
  .opening-header {
    font-size: 16pt;
  }
  h2 {
    font-size: 16pt;
  }
  h3 {
    font-size: 14pt;
  }
  .lead {
    font-size: 12pt;
  }
  .mediumTextBox {
    padding: 25px 40px 25px 40px;
  }
  .smallTextBox {
    background-color: #ffffff;
    padding: 15px 0 15px 0;
    text-align: center;
  }
  .carousel {
    max-width: 100%;
    max-height: 700px;
    margin: auto;
    padding-bottom: 5px;
  }
  .no-display {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .instagram {
    display: none;
  }
}
